.vscode
%localappdata%
ultralight
System Volume Information
src/*.obj
demo/ultralight.log
demo/gdhtml/resources/
demo/gdhtml/bin/*.dll
demo/gdhtml/bin/*.*.*.*.dll
demo/gdhtml/bin/*.*.*.*.exp
demo/gdhtml/bin/*.*.*.*.lib
.sconsign.dblite
~*