.vscode
%localappdata%
ultralight
System Volume Information
src/*.obj
demo/ultralight.log
demo/gdexample/resources/
demo/gdexample/bin/*.dll
demo/gdexample/bin/*.*.*.*.dll
demo/gdexample/bin/*.*.*.*.exp
demo/gdexample/bin/*.*.*.*.lib
~*
godot-cpp